<app-progress-bar *ngIf="loading"></app-progress-bar>

<div *ngIf="!loading" class="d-flex justify-content-center align-items-center vh-100">
    <form [formGroup]="form" autocomplete="off">
        <div class="login-container">
            <img src="assets/Logo.png" width="90">
            <div class="form">
                <div class="form-floating">
                    <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder=""
                        [ngClass]="{'is-invalid': form.get('nombre')?.invalid && form.get('nombre')?.touched}">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="form-floating">
                    <input formControlName="apellido" type="text" class="form-control" id="apellido" placeholder=""
                        [ngClass]="{'is-invalid': form.get('apellido')?.invalid && form.get('apellido')?.touched}">
                    <label for="apellido">Apellido</label>
                </div>
            </div>
            <div class="form">
                <div class="form-floating">
                    <input formControlName="telefono" type="number" class="form-control" id="telefono" placeholder=""
                        [ngClass]="{'is-invalid': form.get('telefono')?.invalid && form.get('telefono')?.touched}">
                    <label for="telefono">Teléfono</label>
                </div>
                <div class="form-floating">
                    <input formControlName="correo" type="email" class="form-control" id="correo" placeholder=""
                        [ngClass]="{'is-invalid': form.get('correo')?.invalid && form.get('correo')?.touched}">
                    <label for="correo">Correo</label>
                </div>
            </div>
            <div class="form">
                <div class="form-floating">
                    <input formControlName="usuario" type="text" class="form-control" id="usuario" placeholder=""
                        [ngClass]="{'is-invalid': form.get('usuario')?.invalid && form.get('usuario')?.touched}">
                    <label for="usuario">Usuario</label>
                </div>
                <div class="form-floating">
                    <input formControlName="password" type="password" class="form-control" id="pass" placeholder=""
                        [ngClass]="{'is-invalid': form.get('password')?.invalid && form.get('password')?.touched}">
                    <label for="pass">Contraseña</label>
                </div>
            </div>
            <div class="group-buttons">
                <button type="button" class="btn btn-outline-primary" routerLink="/login">Volver</button>
                <button type="button" class="btn btn-primary" (click)="addUser()">Registrar</button>
            </div>
        </div>
    </form>
</div>