
<h2>SELECCIONE EL TOUR</h2>
<div class="container">
    <div class="card" routerLink="/details">
        <img src="assets/slider1.jpg" />
        <h3>Tour Atardecer</h3>
        <p>Río Sinú</p>
        <div class="overlay">
            <button type="button" class="btn btn-info m-1" placement="top" ngbTooltip="Modificar">
                <i class="fa-solid fa-pen"></i>
            </button>
            <button type="button" class="btn btn-danger m-1" placement="top" ngbTooltip="Eliminar">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
</div>