h2 {
    font-family: "CynthoSlabW00-Bold", sans-serif;
    text-align: center;
    color: #000850;
    margin-block: 20px;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
}

.container .card {
    display: block;
    width: 340px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 2px rgb(0 0 0 / 5%);
    overflow: hidden;
    margin-inline: 15px;
    margin-block: 20px;
    transition: all 0.25s;
    background: linear-gradient(178.63deg, rgba(217, 217, 217, 0.3) -11.25%, rgba(217, 217, 217, 0.1) 21.71%, rgba(12, 12, 12, 0.05) 111.6%);
}

.nombre {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card h3 {
    font-weight: bold;
    padding-inline: 1rem;
}

.container .card h5 {
    padding-top: 0.4rem;
    padding-inline: 1rem;
}

.container .card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container .card:hover .overlay {
    opacity: 1;
}

.overlay i {
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
    margin-inline: 1rem;
}

.btn-info {
    background: #000850;
}

.btn-danger {
    background: #b60000;
}

/*------------------------------------ MODAL ------------------------------------*/
.modal-header,
.modal-body,
.modal-footer {
    font-family: 'Poppins', sans-serif;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form-group .preview-img {
    width: 23%;
    height: 8rem;
    object-fit: cover;
    object-position: center;
    margin: 0.4rem;
    border-radius: 10px;
}

.modal-title,
.form-label {
    font-weight: bold;
}

.btn-primary {
    background: #000850;
    border: none;
}