<nav class="navbar navbar-expand-lg bg-default" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/Logo.png" class="logo">
            <img src="assets/LetrasLogo1.png" class="logoLetras">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto"></ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/booking">
                            <i class="fa-solid fa-ship"></i>&ensp;Destinos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-city"></i>&ensp;Nosotros
                        </a>
                    </li>
                    <li *ngIf="!sesion" class="nav-item">
                        <a href="#" routerLink="/login">
                            <button type="button" (click)="iniciarSesion()" class="btn btn-outline-primary">Iniciar
                                Sesión</button>
                        </a>
                    </li>
                    <li *ngIf="!sesion" class="nav-item">
                        <a href="#">
                            <button type="button" (click)="cerrarSesion()"
                                class="btn btn-outline-primary">Salir</button>
                        </a>
                    </li>
                    <li *ngIf="sesion" class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-user"></i>&ensp;Jhojan</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>