<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-container">
        <img src="assets/Logo.png" width="90">
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="usuario" placeholder="">
            <label for="usuario">Usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="contrasena" placeholder="">
            <label for="contrasena">Contraseña</label>
        </div>
        <button type="button" class="btn btn-primary mt-3 mb-1" routerLink="/main">Iniciar Sesión</button>
        <button type="button" class="btn btn-outline-primary mt-1 mb-1">Registrarse</button>
    </div>
</div>
