main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calendar {
    padding: 2rem;
    color: #000850;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

.bookings {
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-block: 2rem;
    color: #000850;
}

.bookings h1 {
    font-size: 1.75rem;
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
}

.bookings table tbody tr {
    cursor: pointer;
}

.modal-header,
.modal-body {
    font-family: 'Poppins', sans-serif;
}

.modal-body {
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: row;
}

.modal-title,
.form-label {
    font-weight: bold;
}