<h2>TOURS POR EL RÍO SINÚ</h2>
<div class="container">
    <div class="card" routerLink="/details">
        <img src="assets/slider1.jpg" />
        <h3>Tour Atardecer</h3>
        <p>Río Sinú</p>
        <div class="overlay">
            <h1>AAA</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate maiores, non in dolore eos quisquam quibusdam illum nulla itaque veniam est laboriosam necessitatibus totam vitae ab quas autem placeat? Eligendi?</p>
        </div>
    </div>
</div>

<h2>TOURS POR MONTERÍA</h2>
<div class="container">
    <div class="card">
        <img src="assets/slider2.jpg" />
        <h3>Iglesia</h3>
        <p>Parque</p>
        <div class="overlay">
            <h1>AAA</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate maiores, non in dolore eos quisquam illum nulla itaque veniam est laboriosam necessitatibus totam vitae ab quas autem placeat Eligendi?</p>
        </div>
    </div>
</div>