<div class="row">
    <div class="col-md-7 left">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let item of images">
                <div class="picsum-img-wrapper">
                    <img src="{{ item.img }}" class="carousel-img" />
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="col-md-5 right">
        <h1>Tour</h1>
        <div class="d-flex flex-row m-0">
            <ngb-rating [(rate)]="rate" [max]="5" [readonly]="true" class="me-1">
                <ng-template let-fill="fill" let-index="index">
                    <i class="{{ fill >= 90 ? 'fa-solid fa-star' : 
                                (fill >= 40 && fill < 90 ? 'fa-solid fa-star-half-stroke' : 
                                'fa-regular fa-star') }}"
                    [class.filled]="fill === 100"></i>
                </ng-template>
            </ngb-rating>
            <h6>
                <strong>{{ rate.toFixed(1) }}</strong>
            </h6>
        </div>
        <h2>$ 30.000</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eveniet incidunt amet quisquam? Saepe laborum
            quae eligendi esse modi? Quis assumenda quo sapiente ut ea odit recusandae qui ipsam omnis!</p>
        <button type="button" class="btn btn-primary btn-lg mt-2 mb-2">RESERVAR</button>
    </div>
</div>

<div class="row options">
    <h2>MÁS OPCIONES DISPONIBLES</h2>
    <div class="container">
        <div class="card" routerLink="/details">
            <img src="assets/slider1.jpg" />
            <h3>Tour Atardecer</h3>
            <p>Río Sinú</p>
            <div class="overlay">
                <h1>AAA</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate maiores, non in dolore eos quisquam
                    quibusdam illum nulla itaque veniam est laboriosam necessitatibus totam vitae ab quas autem placeat?
                    Eligendi?</p>
            </div>
        </div>
    </div>
</div>
