<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>

<div class="row" *ngIf="tour">
    <div class="col-md-7 left">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let img of tour">
                <div class="picsum-img-wrapper">
                    <img [src]="'http://localhost:3000/' + img.image" class="carousel-img" />
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="col-md-5 right">
        <h1>{{ tour[0].nombre }}</h1>
        <div class="d-flex flex-row m-0">
            <ngb-rating [(rate)]="tour[0].calificacion" [max]="5" [readonly]="true" class="me-1">
                <ng-template let-fill="fill" let-index="index">
                    <i class="{{ fill >= 90 ? 'fa-solid fa-star' : 
                                (fill >= 40 && fill < 90 ? 'fa-solid fa-star-half-stroke' : 
                                'fa-regular fa-star') }}"
                    [class.filled]="fill === 100"></i>
                </ng-template>
            </ngb-rating>
            <h6>
                <strong>{{ tour[0].calificacion.toFixed(1) }}</strong>
            </h6>
        </div>
        <h2>{{ tour[0].precio | currency:'$ ':'symbol':'3.0' }}</h2>
        <p>{{ tour[0].descripcion }}</p>
        <button type="button" class="btn btn-primary btn-lg mt-2" routerLink="/tour_reservation">Reservar</button>
    </div>
</div>

<div class="row options">
    <h2>MÁS OPCIONES DISPONIBLES</h2>
    <div class="container">
        <div *ngFor="let item of listTours" routerLink="/details/{{ item.id }}" class="card">
            <img [src]="'http://localhost:3000/' + item.image" />
            <div class="nombre">
                <h3>{{ item.nombre }}</h3>
            </div>
            <div class="overlay">
                <h2>{{ item.nombre }}</h2>
                <p>{{ item.descripcion }}</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>