@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Poppins&display=swap');

.navbar {
    background: #000850;
}

.container-fluid {
    margin-inline-start: 30px;
    margin-inline-end: 10px;
}

.nav-link {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    line-height: normal;
    text-decoration: none;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
    margin-inline: 10px;
    cursor: pointer;
}

.nav-link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.nav-link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.logo {
    width: 40px;
    height: auto;
    margin-inline: 5px;
}

.logoLetras {
    width: 140px;
    height: auto;
    margin-inline: 5px;
}


/*------------------------------------ MODAL ------------------------------------*/
.modal-header,
.modal-body,
.modal-footer {
    font-family: 'Poppins', sans-serif;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.modal-title,
.form-label {
    font-weight: bold;
}

.btn-primary {
    background: #000850;
    border: none;
}